[database]
host=localhost
user=postgres
passwd=root123
db=write-math
port=5432

[kafka]
ssl=true
password=root
bootstrap_server=localhost:9092
schema_registry=localhost:8081
group_id=vandelay003
timeout_ms=1000
max_poll_records=100
auto_offset_reset=earliest
topic1=backblaze_smart
topic2=product




[s3]
bucket_name=vandelay_historical_archive